{
  "auth": {
    "type": "Gcp"
  }
  "input": {
    "type": "PubSub"
    "subscription": "${raw_subscription_id}"
  }
  "good": {
    "type": "PubSub"
    "topic": "${good_topic_id}"
    "attributes": [ "app_id", "event_name" ]
  }
  "bad": {
    "type": "PubSub"
    "topic": "${bad_topic_id}"
  }
  "assetsUpdatePeriod": "10080 minutes"
}
