sudo docker run \
  -d \
  --name enrich \
  --restart always \
  --network host \
  --memory=$(get_application_memory_mb)m \
%{ if gcp_logs_enabled ~}
  --log-driver gcplogs \
%{ else ~}
  --log-opt max-size=10m \
  --log-opt max-file=5 \
%{ endif ~}
  --env JDK_JAVA_OPTIONS='${java_opts}' \
  --env INSTANCE_ID=$(get_instance_id) \
  snowplow/snowplow-enrich-pubsub:${version} \
  --config ${config_b64} \
  --iglu-config ${iglu_config_b64} \
  --enrichments ${enrichments_b64}

${telemetry_script}
